
#bigpicture-container {
  overflow: hidden;
  position: fixed;
  top: 0;
  background: hsl(51, 10%, 74%);
  background: radial-gradient(hsl(51, 10%, 94%) 0%, hsl(52, 10%, 88%) 40%, hsl(54, 5%, 73%) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5cea6', endColorstr='#b7ad70', GradientType=0);
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  min-width: 100%;
}

#bigpicture {
  position: absolute;
  z-index: -1;
}

.text {
  font-family: Roboto;
  line-height: 1.1;
  outline: 0;
  position: absolute;
  min-width: 2px;
  cursor: text;
  word-wrap: break-word;
  white-space: pre;
  transition-duration: inherit;
  color: #404040;
  text-shadow: 0 0 5px hsl(51, 10%, 74%);
}

.notransition {
  transition-duration: 0s;
}

.noselect, .drag-no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}