@font-face {
    font-family: Roboto;
    src: url("Roboto-Regular.ttf");
}


body * {
    font-family: Roboto;
}

#toolbar {
    background: linear-gradient(hsl(356, 47%, 47%), hsl(356, 42%, 37%));
    height: 64px;
    user-select: none;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
}

#toolbar img {
    position: fixed;
    top: 4px;
    right: 0;
    height: 64px;
}

#toolbar button {
    border: none;
    background: none;
    height: 64px;
    width: 64px;
    color: white;
    cursor: pointer;
    font-size: 12px;
}

#toolbar button:hover {
    background: rgba(255, 255, 255, 0.2);
}

#info {
    position: fixed;
    bottom: 8px;
    left: 8px;
    z-index: 3;
    font-size: 12px;
}

#user-input::placeholder {
    font-style: italic;
}

#user-input {
    background: hsl(356, 47%, 77%);
    border: none;
    border-bottom: 1px solid hsl(356, 47%, 87%);
    line-height: 32px;
    position: relative;
    top: -8px;
    left: 16px;
    width: calc(100% - 2em - 640px);
    padding: 0 1em 0 1em;
}

.output-topic {
    color: #999;
}

.message {
    color: rgb(255, 128, 128);
    font-size: 80%;
}