
#bigpicture-container {
  overflow: hidden;
  position: fixed;
  top: 0;
  background: black;
  background: url('../images/electro.jpeg') no-repeat fixed center;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  min-width: 100%;
}

#bigpicture {
  position: absolute;
  z-index: -1;
}

.text {
  font-family: Sharetech;
  line-height: 1.5;
  outline: 0;
  position: absolute;
  min-width: 2px;
  cursor: text;
  word-wrap: break-word;
  white-space: pre;
  transition-duration: inherit;
  padding: 0 0.5em;
  border-top: 5px solid #FFE64D;
  background: rgba(255, 0, 0, 0.13);
  color: #FFE64D;
  text-shadow: 0px 0px 16px #DF740C;    
}

.matrix {
  border-top: 5px solid #0CCD58;
  background: rgba(0, 255, 34, 0.06);
  color: #DFEFE2;
  text-shadow: 0px 0px 16px #0CCD58;
}

.tron {
  border-top: 5px solid #6FC3EF;
  background: rgba(99, 165, 255, 0.12);
  color: #E6FFFF;
  text-shadow: 0px 0px 16px #6FC3EF;
}

.red {
}

.notransition {
  transition-duration: 0s;
}

.noselect, .drag-no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}